#one{
    border-radius: 20%;
    width:200px;
    padding: 20px;
    margin-right: 540px;
    
}
#BOOKS{
  Background-color:#dc2f02;
}
#AboutMe{
  background-color:#a5ffd6;
}
#two{
  font-size:20px;
  Border:5px ridge #087e8b;
  font-family:cursive;
}
body{
  background-color:#f7a399;
  border:5px ridge red;
}
.a{
  width:150px;
  height:200px;
  padding:10px;
  border:3px solid;
    margin: 50px;
}
.B{
    width: 200px;
    padding: 20px;
}
iframe{
    padding: 20px;
}
h1{
    font-size: 50px;
    font-family:cursive;
}
#videos{
    background-color: #a5ffd6;
}
#three{
    background-color: #dc2f02;
}
#games{
Background-color:#a5ffde;
}
.game{
    margin: 50px;
    border: 10px ridge red;
    padding: 5px;
}
a{
    color: #0060B6;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li{
    float:left;
    margin: 10px;
    margin-bottom: 100px;
}
.q{
    width: 300px;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right:5px;
    border: 5px ridge skyblue;
    
}
#album{
   Background-color:#dc2f02; 
}
#contact{
    Background-color:#a5ffde;
}